#!/usr/bin/env ruby

compile '/assets/*' do
end

compile '*' do
    filter :erb
    filter :redcarpet, :options => { :fenced_code_blocks => true }
    filter :colorize_syntax, :default_colorizer => :pygmentize
    layout 'default'
end

route '/assets/*' do
    item.identifier.chop + '.' + item[:extension]
end

route '*' do
    item.identifier + 'index.html'
end

layout '*', :erb
